# Server
PORT=
NODE_ENV=

# Database
DATABASE_URL=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=

# OpenAI (Phase 4)
OPENAI_API_KEY=

# Cloudinary (Phase 5)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
